@tailwind base;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
*::-webkit-scrollbar-track {
  background: linear-gradient(to right, #2a2a2a, #4e4e4e);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6b6b6b;
  border-radius: 10px;
  border: 3px solid #2a2a2a;
}

.highlighted {
  outline: 2px solid royalblue;
  z-index: 999999;
}

.highlighted-text {
  color: royalblue;
  z-index: 999999;
}

.highlighted-dnd {
  outline: 2px solid royalblue;
  opacity: 0.6;
  cursor: move;
}

.highlighted-dndover{
  outline: 1px dashed #6b6b6b;
  cursor: move;
}

@tailwind components;
@tailwind utilities;
